{{#define id="conf2"}}

  {{#view id="conf2"}}
    <div>
      <span>HOLAA </span>
    </div>
      {{#find}}
        {{include field="base"}}
        {{sort field="base.clave" direction="asc"}}
      {{/find}}
  {{/view}}



  {{#template id="conf2"}}
    <div>

      <span>HOLAA template </span>

      {{_name}}
      </br><span style="font-size:12px;">{{base.correo}}</span>
      <span style="font-size:12px;float:right;">{{base._perfilAcceso}}</span>
      </br><span style="font-size:12px;white-space:pre-wrap;">{{base._area}}</span>
      {{#if estaBloqueado}}
        <span class="fondo-amarillo" style="font-size:12px;float:right;"><strong>&nbsp;&nbsp;Bloqueado&nbsp;&nbsp;</strong></span>
        </br>
      {{/if}}
      {{#if estaInactivo}}
        <span class="fondo-rojo" style="font-size:12px;float:right;"><strong>&nbsp;&nbsp;Inactivo&nbsp;&nbsp;</strong></span>
      {{/if}}
      {{#if esAdministrador}}
        <span class="fondo-verde" style="font-size:12px;float:right;"><strong>&nbsp;&nbsp;Administrador&nbsp;&nbsp;</strong></span>
      {{/if}}
    </div>    
  {{/template}}


  


{{/define}}